body {
    font-family: 'VT323', Arial;
    text-align: center;
    background: url('~static/img/chrome-bg.webp') no-repeat, url('~static/img/chrome-bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    color: $color-red;
    font-size: 5em;
}

h3 {
    color: $color-grey;
}

.made {
    padding-top: 10px;
    color: grey;

    a {
        color: lightcoral;
    }
}
